-i https://pypi.python.org/simple/
bootstrap-flask==1.0.9
click==7.1.2
flask-moment==0.6.0
flask-sqlalchemy==2.3.2
flask-wtf==0.14.2
flask==1.0.2
greenlet==1.0.0 ; python_version >= '3'
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
python-dotenv==0.10.0
sqlalchemy==1.4.3
werkzeug==1.0.1
wtforms==2.3.3
